{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block pagecontent %}
<body>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="https://github.com/nanditanagappa/Reach-Engine/blob/ritu/reachengine/templates/0002.png" alt="logo" style="width:200px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-home"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">
                        <i class="fa fa-info-circle"></i> About
                        <span class="sr-only">(current)</span>
                    </a>
            </ul>
        </div>
    </nav>

    <div class="container">
        <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div> -->
        <div style="margin-top: 1%;">
            <form action="{% url 'fetchHashTag' %}">
                <!-- <div class="input-group">
                    <input type="text" class="form-control" name="fulltextarea" class="form-control" placeholder="Type a hashtag to search..">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
						<i class="fa fa-search"></i>  Search
					  </button>
                    </div>
                </div> -->
                <br>
                <div class="container1">
                    <div class="search-box">
                        <input class="search-box-input" type="text" class="form-control" name="fulltextarea" class="form-control" placeholder="Type a hashtag to search..">
                        <button class="search-box-btn" type="submit">
							  <i class="search-box-icon material-icons fa fa-search"> Search</i>  
						  </button>
                    </div>
                </div>

                <form action="" id="n4" onkeyup="sync()">
                    <div class="input-group" style="margin-top: 0%;">
                        <textarea rows="4" cols="40" id="textAreaToBeCopied" class="form-control">{{top5mostused}}
						</textarea>
                    </div>

                    <center style="margin-top: 1%;">
                        <button class="btn btn-outline-success" id="textAreaCopyButton" onclick="theCopyFunction()" type="submit">
							<i class="fa fa-copy"></i>  Copy
					    </button>

                        <button class="btn btn-primary" type="submit" name="twitterLogin" onclick="theTwitterLoginButton()">
							<i class="fa fa-twitter fa-pulse"></i> twitter 
				    </button>
                    </center>
                    <script>
                        function theCopyFunction() {
                            var copyText = document.getElementById("textAreaToBeCopied");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999);
                            document.execCommand("copy");
                            alert("Copied the text");
                            console.log(copyText.value);
                        }

                        function theTwitterLoginButton() {
                            window.open('https://www.twitter.com/login', '_blank');
                        }
                    </script>
                    <!-- onclick="location.href='https://www.twitter.com/LOGIN';" -->

                    <div>
                        <br>
                        <table class="table table-bordered table-hover" border="2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Searched Keyword</th>
                                    <th>Top 5 Most Used</th>
                                </tr>
                            </thead>
                            <td>{{searched_word}}</td>
                            <td>{{top5mostused}}</td>
                            </tr>
                        </table>
                    </div>

                    <br>
                    <p> <b>Recently Searched Hashtags : </b> {{recentlySearched}} </p>

                </form>
            </form>
        </div>
    </div>
</body>

</html>

{% endblock %}

</body>

</html>